include:
  - path: compose-traefik.yml
  - path: compose-grafana.yml
  - path: compose-media.yml
  - path: compose-mcpjungle.yml
  - path: compose-homeassistant.yml

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    dns:
      - 192.168.198.3
    expose:
      - 3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./homepage/config:/app/config
    networks:
      - proxy
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}
      - HOMEPAGE_VAR_DISKSTATION_URL=${DISKSTATION_DOMAIN}
      - HOMEPAGE_VAR_DISKSTATION_USER=${DISKSTATION_USER}
      - HOMEPAGE_VAR_DISKSTATION_PASSWORD=${DISKSTATION_PASSWORD}
      - HOMEPAGE_VAR_LOCAL_DOCKER_LOGS_URL=${LOCAL_DOCKER_LOGS_URL}
      - HOMEPAGE_VAR_PLEX_URL=${PLEX_DOMAIN}
      - HOMEPAGE_VAR_PLEX_KEY=${PLEX_KEY}
      - HOMEPAGE_VAR_TRAEFIK_URL=${TRAEFIK_URL}
      - HOMEPAGE_VAR_GITEA_URL=${GITEA_DOMAIN}
      - HOMEPAGE_VAR_GITEA_KEY=${GITEA_KEY}
      - HOMEPAGE_VAR_HEALTH_CHECK_URL=${HEALTH_CHECK_DOMAIN}
      - HOMEPAGE_VAR_HEALTH_CHECK_SLUG=${HEALTH_CHECK_SLUG}
      - HOMEPAGE_VAR_OPENMETEO_LABEL=${OPENMETEO_LABEL}
      - HOMEPAGE_VAR_OPENMETEO_LATITUDE=${OPENMETEO_LATITUDE}
      - HOMEPAGE_VAR_OPENMETEO_LONGITUDE=${OPENMETEO_LONGITUDE}
      - HOMEPAGE_VAR_OPENMETEO_TIMEZONE=${OPENMETEO_TIMEZONE}
      - HOMEPAGE_VAR_GRAFANA_URL=${GRAFANA_URL}
      - HOMEPAGE_VAR_GRAFANA_USER=${GRAFANA_USER}
      - HOMEPAGE_VAR_GRAFANA_PASSWORD=${GRAFANA_PASSWORD}
      - HOMEPAGE_VAR_INFLUX_URL=${INFLUX_URL}
      - HOMEPAGE_VAR_TAUTULLI_URL=${TAUTULLI_URL}
      - HOMEPAGE_VAR_TAUTULLI_RAW_URL=${TAUTULLI_RAW_URL}
      - HOMEPAGE_VAR_TAUTULLI_KEY=${TAUTULLI_KEY}
      - HOMEPAGE_VAR_TORRENTS_URL=${TORRENTS_DOMAIN}
      - HOMEPAGE_VAR_TORRENTS_USER=${TORRENTS_USER}
      - HOMEPAGE_VAR_TORRENTS_PASS=${TORRENTS_PASS}
      - HOMEPAGE_VAR_TORRENTS_UI_URL=${TORRENTS_UI_DOMAIN}
      - HOMEPAGE_VAR_TORRENTS_UI_USER=${TORRENTS_UI_USER}
      - HOMEPAGE_VAR_TORRENTS_UI_PASS=${TORRENTS_UI_PASS}
      - HOMEPAGE_VAR_TWITCH_URL=${TWITCH_DOMAIN}
      - HOMEPAGE_VAR_PHOENIX_URL=https://phoenix.${ROOT_DOMAIN}
      - HOMEPAGE_VAR_UNIFI_CONTROLLER_KEY=${UNIFI_CONTROLLER_KEY}
      - HOMEPAGE_VAR_PROMETHEUS_URL=${PROMETHEUS_URL}
      - HOMEPAGE_VAR_WINDY_EMBED_WIDGET_URL=${WINDY_EMBED_WIDGET_URL}
      - HOMEPAGE_VAR_HOMEASSISTANT_URL=${HOMEASSISTANT_DOMAIN}
      - HOMEPAGE_VAR_HOMEASSISTANT_KEY=${HOMEASSISTANT_KEY}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=Host(`home.${ROOT_DOMAIN}`)"
      - "traefik.http.routers.homepage.entrypoints=https"
      - "traefik.http.routers.homepage.tls.certresolver=le"
    depends_on:
      - traefik

  iSponsorBlockTV:
    image: ghcr.io/dmunozv04/isponsorblocktv:latest
    container_name: iSponsorBlockTV
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./iSponsorBlockTV/config.json:/app/data/config.json

  coredns:
    container_name: coredns
    image: coredns/coredns:1.11.3
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./coredns/Corefile:/Corefile:ro
    restart: unless-stopped

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - DOZZLE_REMOTE_AGENT=${DOZZLE_REMOTE_AGENT}
    expose:
      - 8080
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dozzle.rule=Host(`logs.${ROOT_DOMAIN}`)"
      - "traefik.http.routers.dozzle.entrypoints=https"
      - "traefik.http.routers.dozzle.tls.certresolver=le"
    depends_on:
      - traefik

  phoenix:
    container_name: phoenix
    image: arizephoenix/phoenix:version-11.7
    restart: unless-stopped
    expose:
      - 6006
      - 4317
    environment:
      - PHOENIX_WORKING_DIR=/mnt/data
    volumes:
      - ./volumes/phoenix:/mnt/data
    networks:
      - proxy
      - telemetry
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.phoenix.rule=Host(`phoenix.${ROOT_DOMAIN}`)"
      - "traefik.http.routers.phoenix.entrypoints=https"
      - "traefik.http.routers.phoenix.tls.certresolver=le"
      - "traefik.http.services.phoenix.loadbalancer.server.port=6006"
    depends_on:
      - traefik

networks:
  proxy:
    external: true
  telemetry:
    external: true

volumes:
  letsencrypt:
