http:
  routers:
    nas-router:
      rule: "Host(`nas.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "nas-service"
      tls:
        certResolver: le

    plex-router:
      rule: "Host(`plex.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "plex-service"
      tls:
        certResolver: le

    kira-client-router:
      rule: "Host(`kira.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "kira-client-service"
      tls:
        certResolver: le

    gitea-router:
      rule: "Host(`git.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "gitea-service"
      tls:
        certResolver: le

    qbittorrent-router:
      rule: "Host(`torrents.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "qbittorrent-service"
      tls:
        certResolver: le

    flood-router:
      rule: "Host(`torrents-ui.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "flood-service"
      tls:
        certResolver: le

    twitch-router:
      rule: "Host(`twitch.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "twitch-service"
      tls:
        certResolver: le

    homeassistant-router:
      rule: "Host(`homeassistant.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "homeassistant-service"
      tls:
        certResolver: le

    tuclaw-router:
      rule: "Host(`tuclaw.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "tuclaw-service"
      tls:
        certResolver: le

    tuclaw-voice-router:
      rule: "Host(`tuclaw-voice.{{env "ROOT_DOMAIN"}}`)"
      entryPoints: [ "https" ]
      service: "tuclaw-voice-service"
      tls:
        certResolver: le

  services:
    nas-service:
      loadBalancer:
        servers:
          - url: "{{env "NAS_URL"}}"

    plex-service:
      loadBalancer:
        servers:
          - url: "{{env "PLEX_URL"}}"

    kira-client-service:
      loadBalancer:
        servers:
          - url: "{{env "KIRA_CLIENT_URL"}}"

    gitea-service:
      loadBalancer:
        servers:
          - url: "{{env "GITEA_URL"}}"

    qbittorrent-service:
      loadBalancer:
        servers:
          - url: "{{env "TORRENT_URL"}}"

    flood-service:
      loadBalancer:
        servers:
          - url: "{{env "TORRENT_UI_URL"}}"

    twitch-service:
      loadBalancer:
        servers:
          - url: "{{env "TWITCH_URL"}}"

    homeassistant-service:
      loadBalancer:
        servers:
          - url: "{{env "HOMEASSISTANT_URL"}}"

    tuclaw-service:
      loadBalancer:
        servers:
          - url: "http://192.168.199.72:9090"

    tuclaw-voice-service:
      loadBalancer:
        servers:
          - url: "http://192.168.199.72:8000"
